<!DOCTYPE html>
<html ng-app="stockAnalytics">
<head>
  <title>Stock Analytics</title>

  <base href="/" />

  {% include 'stylesheets.html' %}
</head>

<body>
  {% include 'navbar.html' %}
  <div ng-controller="StockController">
    <div class="container">
      <div class="row">
        <multiselect ng-model="filterObj.selectedStocks" options="c for c in stockOptions" data-multiple="true" class="col-md-4"></multiselect>
        <multiselect ng-model="filterObj.selectedDateRange" options="c for c in dateRangeOptions" data-multiple="false" class="col-md-4"></multiselect>
        <button type="button" class="btn btn-primary" ng-click="generateChart()">Generate Chart</button>
        <div ng-if="chartOptions.load" id="first_chart" class="col-md-12" hc-chart options="chartOptions" chart-id="first_chart"></div>
      </div>
    </div>
  </div>
  {% include 'javascripts.html' %}
</body>
</html>
